<table class="environment-variables" border="1">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="value">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Ruby version</strong></td>
      <td><%= RUBY_VERSION %></td>
    </tr>
    <tr>
      <td><strong>Ruby package description</strong></td>
      <td><%= RUBY_DESCRIPTION %></td>
    </tr>
  <% ENV.sort.each do |name, value| %>
    <tr>
      <td><strong><%= name %></strong></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
